@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
}

.cal-sans {
    font-family: 'Cal Sans';
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

.radix-themes {
    --heading-font-family: 'Cal Sans', sans-serif;
}

.rt-Button {
    font-family: 'Cal Sans', sans-serif;
}

.not-cal {
    font-family: var(--default-font-family);
}

:root {
    --sidebar-width: 16rem;
}

@media (max-width: 768px) {
    :root {
        --sidebar-width: 0rem;
    }
}

html {
    scrollbar-gutter: stable;
}

body {
    text-rendering: optimizeLegibility;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

/* make header draggable on desktop app */
html header {
    -webkit-app-region: drag;
}

html header button {
    -webkit-app-region: no-drag;
}

/*
  Adds Utility to hide scrollbar to tailwind
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}


/* animations */
.slideInBottom {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: slideInBottom;
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(30%);
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: auto;
    }
}

/* animations */
.slideInTop {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: slideInTop;
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-20%);
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%);
    }
}

.fadeIn {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Customize the input appearance */
.react-datepicker-wrapper .react-datepicker__input-container input {
    width: 90%; /* Full width for better alignment */
    padding: 4px 12px; /* Adjust padding for a cleaner look */
    border-radius: 3px; /* Rounded corners for smooth design */
    color: #E6E7E9; /* Text color */
    font-size: 0.875rem; /* Adjust font size */
    background-color: #2C3033; /* Light background */
    margin-right: 10px;
  }
  
  /* Hover effect */
  .react-datepicker-wrapper .react-datepicker__input-container input:hover {
    border-color: #b5b5b5;
  }
  
  /* Custom calendar appearance */
  .react-datepicker {
    font-family: 'Inter', sans-serif;
    border: 1px solid #e0e0e0; /* Light border */
    border-radius: 8px; /* Rounded calendar corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  /* Customize header and navigation */
  .react-datepicker__header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
  }
  .react-datepicker__navigation {
    top: 10px; /* Adjusted for better placement */
  }
  .react-datepicker__current-month {
    font-weight: bold;
    color: #333;
  }
  
  /* Customize day cells */
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #5c6ac4; /* Customize selected color */
    color: #fff;
  }
  .react-datepicker__day:hover {
    background-color: #d1d1d1;
  }

  .custom-datepicker-container {
    width: 120px; /* Set a width if necessary */
  }
  
  .custom-datepicker-input {
    width: 90%; /* Full width to fill container */
    padding: 8px; /* Adjust padding for balance */
  }
  
  